---
layout: home
title: Homepage
article_header:
    type: overlay
    theme: dark
    background_color: '#203028'
    background_image:
        gradient: 'linear-gradient(135deg, rgba(34, 139, 87 , .4), rgba(139, 34, 139, .4))'
        src: /pictures/21_Piano3_8k.jpg
sidebar:
    nav: Paper-notes
    avatar: true
# articles:
#   excerpt_type: html
---
<style>
    .cuowei{
        margin-top: 300px
    }
</style>
<font size=5>
<div id="main">
    <section>
        {% for post in site.posts %}
        {% if post.title == "Welcome" %}
            
            <header>
                <!-- <div class="cuowei">
                    <h1>{{ post.title }}</h1>
                </div> -->
                <h1>{{ post.title }}</h1>
                <p class="post-meta">{{ post.date | date: "%b %-d, %Y" }}{% if post.author %} • {{ post.author }}{% endif
                    %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
            </header>
            <section>
                {{ post.content }}
                <!-- <p class="editor-link"><a href="cloudcannon:collections/{{ post.path }}"
                        class="button"><strong>&#9998;</strong> Edit post</a></p> -->
            </section>
        {% endif %}
        {% endfor %}
    </section>
</div>
</font>