---
layout: home
sidebar:
    nav: Paper-notes
    avatar: true
    bio: "My experience sharing"
# articles:
#   excerpt_type: html
---
<div{margin-top:300px}>
<font size=5>
<div id="main">
    <section>
        {% for post in site.posts %}
        {% if post.title == "Welcome" %}
            <header>
                <h1>{{ post.title }}</h1>
                <p class="post-meta">{{ post.date | date: "%b %-d, %Y" }}{% if post.author %} • {{ post.author }}{% endif
                    %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
            </header>
            <section>
                {{ post.content }}
                <!-- <p class="editor-link"><a href="cloudcannon:collections/{{ post.path }}"
                        class="button"><strong>&#9998;</strong> Edit post</a></p> -->
            </section>
        {% endif %}
        {% endfor %}
    </section>
</div>
</font>
</div>